<launch>
  <arg name="video_stream_provider" doc="full path to the video file" />
  <arg name="fps" doc="frames per second output rate" />
  <arg name="width" doc="image width in pixels" />
  <arg name="height" doc="image height in pixels" />
  <arg name="frame_count" doc="number of images to read in file" />
  <arg name="visualize" default="true" doc="display with image_view" />

  <include file="$(find raw_video_stream)/launch/raw_video_file.launch" >
    <arg name="video_stream_provider" value="$(arg video_stream_provider)" />
    <arg name="fps" value="$(arg fps)" />
    <arg name="width" value="$(arg width)" />
    <arg name="height" value="$(arg height)" />
    <arg name="frame_count" value="$(arg frame_count)" />
    <arg name="visualize" value="$(arg visualize)" />
  </include>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />

  <include file="$(find blob_tracker)/launch/blob_tracker.launch" >
  </include>

  <node if="$(arg visualize)" name="camera_image_view" pkg="image_view" type="image_view">
    <remap from="image" to="/camera/blob_out/image_raw" />
  </node>

  <include file="$(find image_stream_to_heatmap)/launch/image_stream_to_heatmap.launch" >
  </include>

</launch>
